{% extends "base_generic.html" %}

<body>
    {% block content %}
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static "web_player/css/index_style.css" %}" />
    <script type="text/javascript" src="{% static "web_player/scripts/js/player_controls.js" %}"></script>
    <script type="text/javascript" src="{% static "web_player/scripts/js/listeners_count_update.js" %}"></script>
    <script type="text/javascript" src="{% static "web_player/scripts/js/sign_update.js" %}"></script>
    <audio id="audio" 
        preload="auto"
        onloadstart="buffering()"
        oncanplay="canPlay()">
        <source src={{ stream }} type="audio/mpeg">
    </audio>

        {% include "sign.html" %}
        {% include "player_controls.html" %}
    {% endblock %}
</body>

<footer>
        {% block footer %}
            {% include "listeners_count.html" %}
            <a class="info" id="m3u" href={{ m3u }} target="_blank">Listen in player</a>
        {% endblock %}
</footer>
