{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static "web_player/css/sidebar_style.css" %}" />
<script type="text/javascript" src="{% static "web_player/scripts/js/sidebar.js" %}"></script>

<div class="sidebar" id="playlist">
    <div id="playlist-title">Playlist</div>
    <div id="blank"></div>
    <div class="history-cell">
        {% include "playlist.html" %}
        {% comment %} <div class="time">9:00</div>
        <div class="track">Artist name - Track name tooooooo looooong</div> {% endcomment %}
    </div>
</div>

<button class="bt-sidebar">Play list</button>