html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.15) 85%, rgba(38, 57, 64, 0.55) 50%), url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 40%; 
    height: 100%;
    overflow: hidden;
    margin: 0;
}
