#info-wrapper {
    height: 7%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 10px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.411);
}

.info{
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #d3e18c;
}


@media screen and (max-width: 650px) {
    #info-wrapper {
        height: 5%;
    }
}
