#info-wrapper {
    height: 40%;
    text-align: right;
    position: relative;
    top: 30%;
    padding: 3px 0;
    background-color: rgba(0, 0, 0, 0.411);
}

.info{
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #d3e18c;
}