#player-controls-wrapper {
    height: 40%;
    position: relative;
    text-align: center;
}

.player-control {
    margin: 3px 0;
    width: 300px;
    height: 30px;
    display: inline-block;
    background: #89b580;
    position: relative;
    border: 0;
    outline: none;
    cursor: pointer;
}

#play {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    color: #d3e18c;
}

#volume {
    -webkit-appearance: none;
}
  
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: #d3e18c;
}

#volume::-moz-range-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: #d3e18c;
}

#volume::-ms-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: #d3e18c;
}

#volume:focus {
    outline: none;
}

#volume::-ms-track {
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

@media screen and (max-width: 650px) {
    .player-control {
        width: 300px;
        height: 50px;
    }
    
    #volume::-webkit-slider-thumb {
        height: 50px;
        width: 50px;
    }
}
