#player_controls_container {
    margin: 20px 10px;
    height: 30%;
    position: relative;
    text-align: center;
}

.player_controls {
    top: 20%;
    margin: 3px 0;
    display: inline-block;
    width: 25%;
    height: 30px;
    background: #89b580;
    position: relative;
    border: 0;
    outline: none;
    cursor: pointer;
}

#play {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    color: #d3e18c;
}

#volume {
    -webkit-appearance: none;
}
  
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    background: #d3e18c;
}

#volume::-moz-range-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    background: #d3e18c;
}

#volume::-ms-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    background: #d3e18c;
}

#volume:focus {
    outline: none;
}

#volume::-ms-track {
    width: 100%;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

@media screen and (max-width: 650px) {
    #player_controls_container {
        padding: 20% 0%;
    }

    .player_controls {
        width: 30%;
        height: 100%;
    }

    #play {
        width: 50%;
        height: 50px;
    }

    #volume {
        width: 50%; 
        height: 50px;
    }

    #volume::-webkit-slider-thumb {
        height: 50px;
        width: 50px;
    }
    
    #volume::-moz-range-thumb {
        height: 50px;
        width: 50px;
    }
    
    #volume::-ms-thumb {
        height: 50px;
        width: 50px;
    }
}