.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    overflow: hidden;
    background-color: rgb(125, 167, 245);
    transition: 0.3s;
}

.history-cell {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin: 10px;
    font-size: 20px;
    color: blanchedalmond;
    transition: 0.3s;
}

.time {
    display: table-cell;
    width: 20%;
}

.track {
    display: table-cell;
    width: 80%;
}

#blank {
    height: 47px;
}

.bt-sidebar {
    width: 47px;
    height: 47px;
    position: relative;
    bottom: 30%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    color: #d3e18c;
    background-color: #485f44;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.content {
    height: 100%;
    margin-left: 0;
    transition: 0.3s;
}

@media screen and (max-width: 650px) {
    .history-cell {
        height: 30px;
        line-height: 30px;
    }

    .time {
        font-size: 20px;
    }

    .track {
        font-size: 30px;
    }
}