.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    overflow: hidden;
    background-color: rgb(115, 135, 247);
    transition: 0.3s;
}

.sidebar a {
    font-size: 25px;
    transition: 0.3s;
}

.bt_sidebar {
    position: absolute;
    bottom: 13%;
    transition: 0.3s;
}

.content {
    height: 100%;
    margin-left: 0;
    transition: 0.3s;
}