#sign-wrapper {
    height: 30%;
    text-align: center;
}

#sign {
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #485f44;
}

@media screen and (max-width: 650px) {
    #sign {
        font-size: 160%;
    }
}