#sign-wrapper {
    height: 30%;
    position: relative;
    text-align: center;
}

#sign {
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #485f44;
}

hr {
    width: 400px;
    min-width: 400px;
    color: #485f44;
    border: 1px solid;
    margin: 0 auto;
}

@media screen and (max-width: 650px) {
    #sign {
        font-size: 160%;
    }
}